div {
  display: inline;
}
/* 
.detailsCard {
  border: 1px solid #000;
} */

.card {
  margin-top: 5px;
  margin-bottom: 5px;
}

.logoStyle {
  background-size: 25px 25px;
}
/* 
.logo {
  background-image: url(./logo.jpg);
} */
